.bg-image {
    background-image: url(../assets/image_mobile.jpg);
    background-size: cover;
}
/* .w-logo-home {

} */
.w-logo {
    width: 300px;
}
.w-logo-mdhl {
    width: 180px;
}
.h-total {
    height:100vh;
}
.h-nav {
    height: 90px;
}
.fs-home {
    font-size: 45px;
    color: #15abbf;
}
.effect {
    background-color: #000000; 
}
.effect:hover{
    transform: scale(1.08,1.08);
    transition: 0.2s;
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.887);
    cursor: pointer;
    color: #15abbf;
}
.h-icon {
    height: 110px;
}
.icon {
    color: rgb(255, 247, 247);
    height: 100%;
    width: 100%;
}
.d-nav {
    display: block;
}
.bg-skyblue {
    background-color: #15abbf;
}
.bg-yellow {
    background-color: #ece751;
}
.p-schedule {
    width: 370px;
    margin-bottom: 8px;
}
.border-skyblue {
    border: solid 1px #15abbf;
}
.text-skyblue {
    color: #15abbf;
}
.bg-grey {
    background-color: #e0e0e0;
}
.text-bg-black {
    background-color: #000000;
    color: #fff;
}
.text-bg-skyblue {
    background-color: #15abbf;
    color: #fff;
}
/*INICIO DE LAS CARD*/
.m-about {
    margin-bottom: 110px;
}
.container_card{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.card-about{
    width: 370px;
    position: relative;
    margin: 15px;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms;
    border-radius: 5px;
}
.card-about:hover{
    box-shadow: 1px 1px 20px -10px #20202049;
}
.card-about:hover .info_description{
    margin-top: 0;
    border-radius: 0px 0px 10px 10px;

}
.card-about:hover .icon-about{
    border-radius: 10px 10px 0px 0px;
}
.icon-about{
    width: 100%;
    height: 220px;
    background: #000000;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 10px;
    border: solid 1.5px #fff
}
.icon-about i{
    font-size: 70px;
    color: #fff;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
}
.info_description{
    width: 100%;
    height: 220px;
    color: #000000;
    background: #e0e0e0;
    padding: 20px;
    margin-top: -220px;
    transition: all 400ms cubic-bezier(0.5,0,0,1);
    border-radius: 20px;
}
.info_description p{
    font-size: 14px;
    margin-top: 5px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 8;
    line-clamp: 8;
    overflow: scroll;
}
/*Registration*/
.btn-black {
    background-color: #000000;
    color: #fff;
    height: 45px;
}
.btn-black:hover {
    background-color: #ece751;
    color: #000000;
}
.rounded-a{
    border-radius: 0.4rem;
}
.rounded-b{
    border-radius: 0.4rem;
}
/*COLOR DE LAS CARD*/
.c1:hover .icon-about{
    background: #15abbf;
}
.tittle, .c1 .icon-about i {
    color: #15abbf;
}
.c1:hover .icon-about i, .c1:hover .icon-about .tittle{
    color: #fff;
}
/**/

.card-schedule {
    position: relative;
    width: 340px;
    height: 250px;
}
.card-schedule div {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: 1s;
}

.card-schedule .front {
    background-color: #15abbf;
    transform: perspective(500px) rotateY(0deg);
}

.card-schedule .back {
    background-color: #682fc4;
    transform: perspective(500px) rotateY(180deg);
}

.card-schedule:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card-schedule:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

iframe {
    width: 100%;
    height: 100%;
}
/**/
.item::marker{
    font-weight: bold;
}
/* .title-2 {
    margin: 25px 0px 25px 0px;
} */
ol, ul {
    list-style-position: inside;
}
.list-2 {
    list-style-type: lower-alpha;
}
.list-3 {
    list-style-type: circle;
 }
.content {
    padding: 0;
    display: inline;
}
.box-schedule-lg {
    width: 286px;
    height: 80px;
}
.box-schedule-sm {
    width: 90px;
    height: 100px;
}
input, select {
    height: 45px;
    width: 100%;
}
.w-news {
    width: 100%;
}
.bg-image-contact {
    background-image: url(../assets/slide_hockey1.jpg);
    background-size: cover;
}
.bg-image-news {
    background-image: url(../assets/3.png);
    background-size: cover;
    background-position-x: 55%;
}
.bg-image-about {
    background-image: url(../assets/slide_hockey2.jpg);
    background-size: cover;
    background-position-x: 45%;
}
.bg-image-rules {
    background-image: url(../assets/5.png);
    background-size: cover;
    background-position-x: 30%;
}
.bg-image-schedule {
    background-image: url(../assets/2.png);
    background-size: cover;
}
.bi-facebook:hover, .bi-instagram:hover, .bi-twitter:hover {
    color: #fff
}
/**/
.fs-fix {
    font-size: 40px; 
    background-color: #fff;
    border-radius: 50%;
    padding: 3px 10px 6px 10px;
}
.fs-fix:hover {
    color: #15abbf;
}
.d-nav-desktop {
    display: none;
}
@media only screen and (min-width: 700px){
    .d-nav {
        display: none;
    }
    .bg-image {
        background-image: url(../assets/bg-image-desktop.jpg);
        background-size: cover; 
    }
    .w-logo {
        width: 250px;
    }
    .h-icon {
        height: 180px;
        
    }
    .m-about {
        margin-bottom: 10px;
    }
    .card-about{
        width: 380px;
    }
    .icon-about {
        height: 300px;
    }
    .w-news {
        width: 90%;
    }
    .rounded-a{
        border-radius: 0.4rem 0rem 0rem 0.4rem;
        border-right: solid 3px #fffefe;
    }
    .rounded-b{
        border-radius: 0rem 0.4rem 0.4rem 0rem;
    }
    .d-nav-desktop {
        display: block;
    }
}
